.header__logo {
    width: 142px;
    height: 33px;
    order: 0;
}

@media screen and (max-width:696px) {
    .header__logo {
        width: 103px;
        height: 24px;
        margin-left: 27px;
        order: 1;
    }

}